.game {
  background-color: rgb(250, 179, 203);
  padding: 15px;
  margin-top: 20px;
}

.game div {
  margin-top: 5px;
  font-size: 20px;
  text-align: left;
  border: 2px;
  border-width: 5px;
}
.gameTitle {
  text-align: center;
  border-radius: 5px;
  margin-bottom: 4px;
  box-shadow: 0px 4px 5px black;
}
.game div h4 {
  font-weight: 400;
  margin: 15px;
  text-align: center;
}
.game p {
  font-size: 1.2rem;
  margin-top: 10px;
  padding: 10px;
}
.divRespuestas {
  width: fit-content;
  margin: auto;
}
.textoPregunta {
  color: white;
  text-align: center;
  background-color: darkorange;
  border: 0px;
  padding: 5px;
}
.respuestas {
  color: white;
  font-size: 15px;
  text-align: center;
  background-color: darkorange;
  border: 0px;
  margin: 2px;
  padding: 15px;
  transition: 0.2s ease-in;
}

.respuestas:hover {
  background-color: chocolate;
}

.seccionJuego {
  display: none;
}

.validar {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  display: none;
  background-color: white;
  padding: 10px 5px;
  border-radius: 10px;
}
